
// DEFAULT

*{ //ALL
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}


a{ // Links
    text-decoration: none;
    color: #ffffff;

    // Hover 
    &:hover{
        text-decoration: underline;
    }
}

#main-view{ // Struttura centro 
    display: flex;
}




